* {
	font-family: 'Ubuntu', sans-serif;
}

body {
	padding-top: 30px;
}

/*Resizing the logo*/
.img-responsive {
	height: 50px;
	width: 50px;
}

.title li {
	font-size: 16px;
	padding-top: 10px;
	color: #D9853B;
	padding-right: 5px;
}

.about_me {
	color: #D9853B;
}

.under_navbar h2 {
	padding-top: 10px;
	text-align: center;
}

.navbar {
	color: #558C89;
}

.under_navbar {
	background-color: #ECECEA;
	/*height: 500px;*/ /* No Need For The Height */
	/* If you want that box to be longer you can just add padding-bottom  */
	width: 100%;
	padding: 0 20px;
	padding-bottom: 10px;
}

a:hover {
	text-decoration: none;
}

a:link {
	text-decoration: none; 
}

/*.seperator {
border: 2px solid #558C89;
}*/

.portfolio h2 {
	text-align: center;
	color: #D9853B;
}

.portfolio {
	background-color: #558C89;
	width: 100%;
	padding: 0 20px;
	padding-bottom: 130px;
}